.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0295A9;
    padding: 0 80px;
    .navbar__p{
        display: flex;
        gap: 100px;
        color: #04162F;
        P{
            font-size: 24px;
            font-family: sans-serif;
        }
    }
    .navbar__btn{
        background:#036370;
        width: 130px;
        height: 38px;
        color: #fff;
        border-radius: 20px;
        border: none;
    }
}